/* the styles for the elements */
* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin: 0 auto;
	border: 3px solid #931420;
	background-color: #fffded;
}
html {
	background-color: white;
}

section {
	width: 75%;
	float: right;
	padding: 0px 2.0833333333% 2.0833333333% 2.0833333333%;
}
section h1 {
	font-size: 150%;
	padding-top: 0.5em;
	padding-bottom: 0.25em;
	margin: 0;
}
#nav_menu ul{
	background-color: #800000;
	width: 100%;
	float:right;
	margin: 0;
	padding:0;
	list-style:none;
}
#nav_menu ul li {
	float: left;
	position: relative;
	width: 20%;
}
#nav_menu ul li a {
	color: white;
	display: block;
	padding: 1em;
	text-decoration: none;
	font-weight: bold;
}
#nav_menu ul li ul li {
	float: none;
}
#nav_menu ul li ul {
	display: none;
	position: absolute;
}
#nav_menu ul li:hover > ul {
	display: block;
}

.current {
	color: yellow !important;
}
article {
	padding: 0.5em 0;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}
article img {
	float: right;
	margin: 10px;
	border: 1px solid black;
}
article h2 {
	padding-top: 0;
}
article h3 {
	font-size: 105%;
	padding-bottom: 0.25em;
}
aside {
	width: 22.3958333%;
	float: left;
	padding: 0px 0px 20px 2.0833333333%;
}
aside h3 {
	font-size: 105%;
	padding-bottom: 0.25em;
}
aside img {
	padding-bottom: 1em;
}
/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding: 1.5em 0em 2em 0em;
	background-image: linear-gradient(30deg,#f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header img {
	float: left;
	padding: 0px 3.125%;
	max-width: 40%;
	min-width: 150px;
}

/* the styles for the section */
main {
	clear: left;
}

/* the styles for the footer */
header h2 {
	font-size: 170%;
	color: #800000;
}
header h3 {
	font-size: 130%;
	font-style: italic;
}

main h2{
	font-size: 130%;
	color: #800000;
	padding: 0.5em 0em 0.25em 0em;
}
main h3 {
	font-size: 105%;
	padding: 0em 0em 0.25em 0em;
}
main p {
	padding: 0em 0em 0.5em 0em;
}
main blockquote {
	padding: 0em 2em 0em 2em;
	font-style: italic;
}
main ul {
	padding: 0em 0em 0.25em 1.25em;
}
main li {
	padding: 0em 0em 0.35em 0em;
}
aside a:focus, aside a:hover {
	font-style: italic;
}
footer {
	clear: both;
	background-color: #931420;
}
footer p {
	padding: 1em 0em;
	text-align: center;
	color:white;
}
.shadow {
	text-shadow: 1px 1px 2px #800000;
}
.end {
	font-weight: bold;
}	
#mobile_menu {
	display: none;
}
@media only screen and (max-width: 959px) {
	section h1 {
		font-size: 135%;
	}
	section h2, aside h2 {
		font-size: 120%;
	}
	#nav_menu {
		display: none;
	}
	#mobile_menu {
		display: block;
	}
	.slicknav_menu {
		background-color: #800000 !important;
	}
}
@media only screen and (max-width: 767px) {
	header img {
		float: none;
	}
	header {
		text-align: center;
	}
	aside {
		float: none;
		padding: 0px 2.0833333333% 20px 2.0833333333%;
		width: 97.92%;
	}
	section {
		float: none;
		width: 97.92%;
	}
	section img {
		max-width: 30%;
	}
	aside div {
		column-count: 2;
	}
}
@media only screen and (max-width: 479px) {
	html {
		font-size: 90%;
	}
}
